.home__container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;

  .home__content {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4, 100px);
    height: 400px;
    gap: 50px;
  }

  .letter {
    position: relative;
    height: 400px;
    overflow: hidden;

    span {
      position: absolute;
      font-size: 150px;
      font-family: var(--font-exp);
      user-select: none;
      color: var(--text);
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
