.home__container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;

  .home__content {
    position: relative;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4, 150px);
    height: 250px;
    gap: 50px;

    .suffix {
      position: absolute;
      display: grid;
      inset: 0;
      grid-template-columns: repeat(8, 1fr);
      gap: 20px;

      &:is(.let7) {
        grid-template-columns: repeat(7, 1fr);
      }

      &:is(.let9) {
        grid-template-columns: repeat(9, 1fr);
      }

      & > div {
        display: grid;
        position: relative;
        place-items: center;
        height: 100%;
        span {
          user-select: none;
          position: relative;
          font-size: 110px;
          font-family: var(--font-exp);
          color: var(--text);
        }
      }

      .floating__letters {
        transition: transform 0.5s, opacity 0.5s;
      }
    }

    .letter__container {
      position: relative;
      height: 250px;
      overflow: hidden;

      .letter__wrap {
        position: relative;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);

        .letter {
          display: grid;
          place-items: center;
          font-size: 150px;
          font-family: var(--font-exp);
          user-select: none;
          color: var(--text);
        }
      }
    }
  }

  .ready {
    .letter__container {
      display: grid;
      place-items: center;

      .letter {
        display: grid;
        position: relative;
        place-items: center;
        font-size: 150px;
        font-family: var(--font-exp);
        user-select: none;
        color: var(--text);
        cursor: pointer;
      }
    }

    .small__letter__container {
      position: absolute;
      display: flex;
      gap: 4px;
      bottom: 0;
      z-index: 99;

      &:is(.left) {
        left: 0;
        justify-content: flex-start;
      }

      &:is(.right) {
        right: 0;
        justify-content: flex-end;
      }

      .letter {
        display: grid;
        place-items: center;
        font-size: 50px;
        font-family: var(--font-exp);
        user-select: none;
        color: var(--secondary);
        cursor: pointer;
      }
    }
  }

  .reset__svg {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    svg {
      font-size: 20px;
      color: #262626;
      cursor: pointer;
      &:hover {
        animation: spinBounce 0.8s linear forwards;
      }
    }
  }
}

.tilt__image {
  position: absolute;
  inset: 15vh 15vw;
  background-size: cover;
  mix-blend-mode: normal;
  border-radius: 10px;
  transition: all;
  z-index: -10;
  transform-style: preserve-3d;
  transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));

  &:is(.p) {
    background-image: url("../../assets/images/project.jpg");

    &::after {
      border: 10px solid var(--accent);
    }
  }

  &:is(.a) {
    background-image: url("../../assets/images/aboutme.jpg");

    &::after {
      border: 10px solid var(--blue);
    }
  }

  &:is(.t) {
    background-image: url("../../assets/images/testimony.jpg");

    &::after {
      border: 10px solid var(--text);
    }
  }

  &:is(.x) {
    background-image: url("../../assets/images/experience.jpg");

    &::after {
      border: 10px solid var(--secondary);
    }
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3); // Add a semi-transparent overlay
    z-index: 1;
  }

  @media (prefers-color-scheme: dark) {
    &::after {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &:is(.p, .a, .t, .x)::after {
    inset: 25vh 10vw;
    z-index: 2;
  }
}

@keyframes spinBounce {
  0% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(180deg);
  }
  85% {
    transform: rotate(370deg);
  }
  90% {
    transform: rotate(355deg);
  }
  95% {
    transform: rotate(365deg);
  }
  98% {
    transform: rotate(358deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
