.card__container {
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 20px;
  z-index: 999;

  .card__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }

  .card__close {
    cursor: pointer;
    padding: 5px;
  }
}

.card__backdrop {
  background-color: #0005;
  position: absolute;
  z-index: 995;
  inset: 0;
}
