* {
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

:root {
  --text: #090606;
  --background: #fdfcfc;
  --primary: #bbd2d3;
  --secondary: #f5f0f0;
  --accent: #324c4c;
  --main-font: "amstelvar";
  --font-ox: "oxygen";
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #fdfcfc;
    --background: #090606;
    --primary: #bbd2d3;
    --secondary: #2e1f1f;
    --accent: #74a3a3;
  }
}

html {
  color-scheme: light dark;
}

img {
  max-width: 100%;
  display: block;
}

@font-face {
  font-family: "amstelvar";
  src: url("./assets/fonts/Amstelvar-Roman.ttf") format("opentype");
}

@font-face {
  font-family: "oxygen";
  src: url("./assets/fonts/Oxygen-Regular.ttf") format("opentype");
}
